{
  "env": {
    "test": {
      "presets": [["env"], "react"]
    },

    "rollup": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": ["external-helpers"]
    }
  }
}
